/**
 * Copy this file to private_wifi_credentials.hpp and change `ssid` and `password` to match your own WiFi credentials.
 *
 */

const char *ssid     = "your_home_WiFi_SSID";
const char *password = "your_home_WiFi_password";
